~$*
.DS_Store

/local.mk
/build
/build-*
/build_*
/Build-*
/Build_*
/*.app
/.settings

bak_*

# python stuff
*.egg-info/
*.pyc
*.ptx
__pycache__/

# ipython notebook stuff
#*.ipynb
#.ipynb
.ipynb_checkpoints

# jetbrains stuff
.idea
*.iml
